* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: whitesmoke;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 200px;
    width: 200px;
    line-height: 200px;
    font-size: 100px;
    border-radius: 50%;
    background-color: rgb(255, 149, 0);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.choices {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover {
    cursor: pointer;
    background-color: rgba(16, 150, 117, 0.9);
    text-shadow: -3px -3px 5px rgba(0, 0, 0, 1);
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}